* {
    box-sizing: border-box;
  }
body {
    /* background-color: rgb(105, 103, 239); */
    font-family: 'Asap', sans-serif;
  }
  
.nav-link{
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(24, 13, 74, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover{
  color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
}

.transparent-navbar {
    background: linear-gradient(to left, #4b6cb7, #182848); 
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 20px 30px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    transition: 0.3s ease-out;
    backdrop-filter: blur(8px) brightness(1.2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: rgb(17, 33, 181);
    font-size: 16px;
    &.mask {
      mask-image: linear-gradient(black 70%, transparent);
      -webkit-mask-image: linear-gradient(black 70%, transparent);
    }
    @media (min-width: 640px) {
        padding: 16px 50px 30px 50px;
      }
}

  nav.is-hidden {
    transform: translateY(-100%);
  }

  .navhead {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    };
    margin-right: 10px;
  }

  .login, .opening {
    overflow: hidden;
    background-color: rgb(7, 6, 79);
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
    
    &::before {
      left: 40%;
      bottom: -130%;
      background-color: rgba(69, 105, 144, 0.15);
      animation: wawes 6s infinite linear;
    }
    
    &::after {
      left: 35%;
      bottom: -125%;
      background-color: rgba(2, 128, 144, 0.2);
      animation: wawes 7s infinite;
    }
    
    > input {
      font-family: 'Asap', sans-serif;
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: 0;
      padding: 10px 10px;
      margin: 15px -10px;
    }
    
    > button {
      font-family: 'Asap', sans-serif;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      width: 80px;
      border: 0;
      padding: 10px 0;
      margin-top: 10px;
      margin-left: -5px;
      border-radius: 5px;
      background-color: rgba(244, 91, 105, 1);
      transition: background-color 300ms;
      
      &:hover {
        background-color: rgba(204, 68, 80, 1);
      }
    }
  }

  .signup {
    overflow: hidden;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    transition: transform 300ms, box-shadow 300ms;
    box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
    
    &::before {
      right: 40%;
      top: -130%;
      background-color: rgba(69, 105, 144, 0.15);
      animation: wawes 6s infinite linear;
    }
    
    &::after {
      right: 35%;
      top: -125%;
      background-color: rgba(2, 128, 144, 0.2);
      animation: wawes 7s infinite;
    }
    
    > input {
      font-family: 'Asap', sans-serif;
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: 0;
      padding: 10px 10px;
      margin: 15px -10px;
    }
    
    > button {
      font-family: 'Asap', sans-serif;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      width: 80px;
      border: 0;
      padding: 10px 0;
      margin-top: 10px;
      margin-left: -5px;
      border-radius: 5px;
      background-color: rgba(244, 91, 105, 1);
      transition: background-color 300ms;
      
      &:hover {
        background-color: rgba(204, 68, 80, 1);
      }
    }
  }

  .email_error, .password_error, .username_error, .error-message {
    margin-top: 10px; /* Add space above the elements */
    margin-bottom: 10px; /* Add space below the elements */
    margin-left: 0; /* Add space to the left of the elements */
    margin-right: 0; /* Add space to the right of the elements */
    color: red;
    font-size: 15px;
    text-align: center;
    /* You can adjust the values above to control the amount of space */
  }
  
  @keyframes wawes {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }