:root {
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-gray: #9CA3AF;
  --color-black: #1F2937;
  --card-size: 40rem;
  --card-size1: 20rem;
  --card-size2: 35rem;
  --card-size3: 28rem;
  --card-size4: 31rem;


}

.page {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform:
    rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 80%;
  padding: 3rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(167, 191, 240) 0%, rgb(175, 217, 243) 54%, rgb(200, 237, 255) 97%);
  border-radius: 1rem;
  color: var(--color-pink);
  text-align: justify;
  transition: all 0.3s ease-out;
}

.card h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: bold;
  margin: 0 0 0.7em;
  color: var(--color-black);
}

.card p,
.card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
}

.nav.left {
  transform: translateX(-100%) translateY(-50%);
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}



@media screen and (max-width: 256px) {

 .nav.left {
  transform: translateX(-100%) translateY(-50%);
  margin-top: 260px;
  color: #325381;
  margin-left: 150px;
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
  margin-top: 260px;
  margin-right: 150px;
  color: #325381;

}
} 
@media screen and (max-width: 360px) {
  .nav.left {
    transform: translateX(-100%) translateY(-50%);
    margin-top: 260px;
    color: #325381;
    margin-left: 150px;
  }
  
  .nav.right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
    margin-top: 260px;
    margin-right: 150px;
    color: #325381;
  
  }
}

@media screen and (max-width: 420px) {
  .carousel{
    width: var(--card-size1);
  }
  .card img{
    width: 180px;
    height: 220px;
  }
  .nav.left {
    transform: translateX(-100%) translateY(-50%);
    margin-top: 260px;
    color: #325381;
    margin-left: 150px;
  }
  
  .nav.right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
    margin-top: 260px;
    margin-right: 150px;
    color: #325381;
  
  }
}

@media screen and (max-width: 600px) {
  .carousel{
    width: var(--card-size4);
  }
  .card img{
    width: 260px;
    height: 300px;
  }

.nav.left {
  transform: translateX(-100%) translateY(-50%);
  margin-top: 260px;
  color: #325381;
  margin-left: 190px;
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
  margin-top: 260px;
  margin-right: 190px;
  color: #325381;

}
}

@media screen and (max-width: 608px) {
  .carousel{
    width: var(--card-size3);
  }
  .card img{
    width: 240px;
    height: 280px;
  }
}

@media screen and (max-width: 688px) {
  .carousel{
    width: var(--card-size4);
  }
  .card img{
    width: 300px;
    height: 320px;
  }
}

@media screen and (max-width: 768px) {
  .carousel{
    width: var(--card-size2);
  }
}
/* 
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1020px) {

}

@media screen and (max-width: 900px) {

} */







