:root {
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-gray: #9CA3AF;
  --color-black: #1F2937;
  --card-size: 40rem;
}

.page {
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.carousel {
  position: relative;
  width: var(--card-size);
  height: var(--card-size);
  perspective: 500px;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform:
    rotateY(calc(var(--offset) * 50deg)) scaleY(calc(1 + var(--abs-offset) * -0.4)) translateZ(calc(var(--abs-offset) * -30rem)) translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.card {
  width: 100%;
  height: 80%;
  padding: 3rem;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(167, 191, 240) 0%, rgb(175, 217, 243) 54%, rgb(200, 237, 255) 97%);
  border-radius: 1rem;
  color: var(--color-pink);
  text-align: justify;
  transition: all 0.3s ease-out;
}

.card h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: bold;
  margin: 0 0 0.7em;
  color: var(--color-black);
}

.card p,
.card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);
}

.nav {
  color: white;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
}

.nav.left {
  transform: translateX(-100%) translateY(-50%);
}

.nav.right {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}