.footer-design {
        background: linear-gradient(to left, #4b6cb7, #182848);
        transition: background 0.5s ease;
}

.footer-design:hover {
        background: linear-gradient(to right, #4b6cb7, #182848);

}