.containerStyle {
    background-image: url("../../public/assets/Zero-page/mlsa_laptop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    position: relative;
}

.btnStyle {
    position: absolute;
    width: 30%;
    max-width: 190px;
}

/* Laptop */
@media (max-width: 916px) and (max-height: 523px) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_laptop.png);
    }
    .btnStyle {
        width: 20%;
        max-width: 150px;
        bottom: 5%;
        left: 5%;
    }
}

/* Samsung Galaxy Z Flip */
@media (max-width: 768px) and (max-height: 167.3mm) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_galaxy_zflip.png);
    }
    .btnStyle {
        width: 28%;
        max-width: 150px;
        bottom: 3%;
        left: 2%;
    }
}

/* Redmi 7 */
@media (max-width: 620px) and (max-height: 893px) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_redmi7.png);
    }
    .btnStyle {
        width: 32%;
        max-width: 120px;
        bottom: 3%;
        left: 2%;
    }
}

/* iPhone 1 */
@media (max-width: 560px) and (max-height: 480px) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_iphone1.png);
    }
    .btnStyle {
        width: 35%;
        max-width: 100px;
        bottom: 3%;
        left: 2%;
    }
}

/* iPhone 2 (More Width) */
@media (max-width: 560px) and (max-height: 523px) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_iphone2.png);
    }
    .btnStyle {
        width: 35%;
        max-width: 100px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* Samsung Galaxy Z Fold */
@media (max-width: 420px) and (max-height: 160.9mm) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_galaxy_zfold.png);
    }
    .btnStyle {
        width: 40%;
        max-width: 80px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* Samsung Galaxy Z Unfold */
@media (max-width: 360px) and (max-height: 160.9mm) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_galaxy_zunfold.png);
    }
    .btnStyle {
        width: 45%;
        max-width: 60px;
        margin-top: 20px;
        margin-left: 10px;
    }
}

/* Tablet */
@media (max-width: 1487px) and (max-height: 523px) {
    .containerStyle {
        background-image: url(../../public/assets/Zero-page/mlsa_tablet.png);
    }
    .btnStyle {
        width: 20%;
        max-width: 200px;
        bottom: 5%;
        left: 5%;
    }
}
