@media (max-width: 916px) and (max-height: 523px) {
        .gif-style {
                width: 10%;
                max-width: 100px;
        }

        .logo-style {
                width: 6%;
                max-width: 60px;
        }

        .btn-style {
                width: 25%;
                max-width: 150px;
        }
}

@media (max-width: 768px) {
        .gif-style {
                width: 12%;
                max-width: 100px;
        }

        .logo-style {
                width: 7%;
                max-width: 60px;
        }

        .btn-style {
                width: 28%;
                max-width: 150px;
        }
}

@media (max-width: 620px) {
        .gif-style {
                width: 15%;
                max-width: 80px;
        }

        .logo-style {
                width: 8%;
                max-width: 50px;
        }

        .btn-style {
                width: 32%;
                max-width: 120px;
        }
}

@media (max-width: 560px) {
        .gif-style {
                width: 18%;
                max-width: 60px;
        }

        .logo-style {
                width: 10%;
                max-width: 40px;
        }

        .btn-style {
                width: 35%;
                max-width: 100px;
        }
}

@media (max-width: 420px) {
        .gif-style {
                width: 22%;
                max-width: 50px;
        }

        .logo-style {
                width: 12%;
                max-width: 30px;
        }

        .btn-style {
                width: 40%;
                max-width: 80px;
        }
}

@media (max-width: 360px) {
        .gif-style {
                width: 25%;
                max-width: 40px;
        }

        .logo-style {
                width: 15%;
                max-width: 25px;
        }

        .btn-style {
                width: 45%;
                max-width: 60px;
        }
}

@media (max-width: 1487px) and (max-height: 523px) {
        .gif-style {
                width: 8%;
                max-width: 150px;
        }

        .logo-style {
                width: 5%;
                max-width: 80px;
        }

        .btn-style {
                width: 20%;
                max-width: 200px;
        }
}